* {
  box-sizing: border-box;
  color: rgb(38, 37, 37);
  margin: 0px;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  padding: 0px 250px;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 100%;
  background-color: rgba(249, 238, 215, 0.868);
  background: linear-gradient(
      217deg,
      rgba(243, 202, 114, 0.868),
      rgba(249, 238, 215, 0.868) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(242, 120, 230, 0.8),
      rgba(10, 106, 151, 0.5) 70.71%
    ),
    linear-gradient(336deg, rgba(255, 0, 230, 0.8), rgba(0, 0, 255, 0) 70.71%);
  height: 100vh;
  padding: 10px;
}

.name-input-label {
  font-size: 20px;
  width: 100%;
}

.name-input-wrap-wrap {
  width: 70%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.name-input {
  width: 100%;
  height: 30px;
  margin: 0px;
  margin-right: 10px;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 3px;
  padding: 0px 10px;
}

.name-input-button {
  width: 100px;
  height: 30px;
  margin: 0px;
  border: 0;
  border-radius: 3px;
  background-color: rgb(217, 120, 241);
  color: rgb(38, 37, 37);
  cursor: pointer;
}

.chat-container {
  width: 100%;
  height: 93vh;
  background-color: rgb(255, 255, 255);
  padding: 30px 2%;
  border-radius: 10px;
  box-shadow: inset 0px 1px 20px #cfcdcd93;
  overflow: scroll;
}

.msg-input {
  width: 100%;
  height: 30px;
  margin: 0px;
  margin-right: 10px;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 3px;
  padding: 0px 10px;
  box-shadow: inset 0px 1px 20px #cfcdcd93;
}

.msg-button {
  width: 100px;
  height: 30px;
  margin: 0px;
  border: 0;
  border-radius: 3px;
  background-color: rgb(217, 120, 241);
  color: rgb(38, 37, 37);
  cursor: pointer;
  box-shadow: 0px 1px 5px #68686893;
  transition: all 0.15s;
}

.msg-button:hover,
.name-input-button:hover {
  background-color: rgb(187, 106, 207);
}

.msg-input-wrap {
  margin-top: 7.5px;
  display: flex;
}

.chat-message {
  margin-bottom: 20px;
  font-size: 20px;
}

.chat-message-name {
  font-weight: bold;
  font-size: 12px;
  color: rgb(169, 169, 169);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (max-width: 1500px) {
  body {
    padding: 0 180px;
  }
}

@media (max-width: 900px) {
  body {
    padding: 0px;
  }
}
